R_A_I_O (1)_updated.json
{
  "name": "R.A.I.O Avaliacao Atendimento",
  "nodes": [
    {
      "parameters": {},
      "id": "ef907761-c393-4591-a899-97305c69899e",
      "name": "Webhook Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        700,
        300
      ],
      "webhookId": "avaliacao-atendimento-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-e5f6-g7h8-i9j0-k1l2m3n4o5p0",
              "name": "data.remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-g7h8-i9j0-k1l2m3n4o5p1",
              "name": "data.messageText",
              "value": "={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage.text }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-g7h8-i9j0-k1l2m3n4o5p2",
              "name": "data.messageTimestamp",
              "value": "={{ $json.body.data.messageTimestamp }}",
              "type": "number"
            },
            {
              "id": "a1b2c3d4-e5f6-g7h8-i9j0-k1l2m3n4o5p3",
              "name": "data.userWebhookApiKey",
              "value": "={{ $json.body.userWebhookApiKey }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d6bec517-8123-42fb-bce7-2fbc07dd3779",
      "name": "Processar Mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1.2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "message": "={{ $('Processar Mensagem').item.json.data.messageText }}",
        "jsonMode": true,
        "prompt": "Com base na seguinte mensagem de avaliação de atendimento, extraia a nota do cliente (de 1 a 5) e coloque no campo 'nota'. A mensagem é: {{ $json.message }}",
        "model": "text-davinci-003",
        "temperature": 0.7,
        "maxTokens": 60
      },
      "id": "b1c2d3e4-f5g6-h7i8-j9k0-l1m2n3o4p5q6",
      "name": "Extrair Nota (OpenAI)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1140,
        180
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIALS_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $('Processar Mensagem').item.json.data.messageText }}",
        "jsonMode": true,
        "prompt": "Analise a seguinte conversa de avaliação de atendimento e forneça um JSON com os seguintes campos:\n- \"pontos_fortes\": [\"array de strings com os pontos fortes mencionados\"],\n- \"pontos_fracos\": [\"array de strings com os pontos fracos mencionados\"],\n- \"sugestoes_melhoria\": [\"array de strings com sugestões de melhoria\"],\n- \"resumo_atendimento\": \"string com um breve resumo do atendimento avaliado\",\n- \"tempo_resposta\": \"string descrevendo o tempo de resposta percebido (ex: Rápido, Adequado, Lento)\",\n- \"clareza_comunicacao\": \"string descrevendo a clareza da comunicação (ex: Excelente, Boa, Regular, Ruim)\",\n- \"resolucao_problema\": \"string indicando se o problema foi resolvido (ex: Resolvido, Não Resolvido, Parcialmente Resolvido)\"\n\nA conversa é: {{ $json.message }}",
        "model": "gpt-3.5-turbo",
        "temperature": 0.5,
        "maxTokens": 500
      },
      "id": "c1d2e3f4-g5h6-i7j8-k9l0-m1n2o3p4q5r6",
      "name": "Coletar Informações Adicionais (OpenAI)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1140,
        420
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIALS_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1e2f3g4-h5i6-j7k8-l9m0-n1o2p3q4r5s6",
              "name": "text",
              "type": "string",
              "value": "={{ JSON.stringify({ \r\n  nota_cliente: parseInt($('Extrair Nota (OpenAI)').item.json.nota) || 0, \r\n  pontos_fortes: $('Coletar Informações Adicionais (OpenAI)').item.json.pontos_fortes || [], \r\n  pontos_fracos: $('Coletar Informações Adicionais (OpenAI)').item.json.pontos_fracos || [], \r\n  tempo_resposta: $('Coletar Informações Adicionais (OpenAI)').item.json.tempo_resposta || \"Não informado\", \r\n  clareza_comunicacao: $('Coletar Informações Adicionais (OpenAI)').item.json.clareza_comunicacao || \"Não informado\", \r\n  resolucao_problema: $('Coletar Informações Adicionais (OpenAI)').item.json.resolucao_problema || \"Não informado\", \r\n  sugestoes_melhoria: $('Coletar Informações Adicionais (OpenAI)').item.json.sugestoes_melhoria || [], \r\n  resumo_atendimento: $('Coletar Informações Adicionais (OpenAI)').item.json.resumo_atendimento || \"Não informado\", \r\n  remoteJid: $('Processar Mensagem').item.json.data.remoteJid, \r\n  webhookApiKey: $('Processar Mensagem').item.json.data.userWebhookApiKey \r\n}) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-g7h8-i9j0-k1l2m3n4o5p",
      "name": "Formatar Dados para API",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1.2,
      "position": [
        1360,
        300
      ]
    },
    {
      "parameters": {
        "url": "YOUR_API_ENDPOINT_URL/api/receber-avaliacao",
        "options": {
          "bodyContentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "text",
                "value": "={{ $('Formatar Dados para API').item.json.text }}"
              }
            ]
          }
        }
      },
      "id": "e1f2g3h4-i5j6-k7l8-m9n0-o1p2q3r4s5t6",
      "name": "Enviar para API R.A.I.O",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1580,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Entrada": {
      "main": [
        [
          {
            "node": "Processar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Mensagem": {
      "main": [
        [
          {
            "node": "Extrair Nota (OpenAI)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Coletar Informações Adicionais (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Nota (OpenAI)": {
      "main": [
        [
          {
            "node": "Formatar Dados para API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Informações Adicionais (OpenAI)": {
      "main": [
        [
          {
            "node": "Formatar Dados para API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Dados para API": {
      "main": [
        [
          {
            "node": "Enviar para API R.A.I.O",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {},
  "versionId": "some-version-id",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}